
.titulo{
    color:white;
    background: transparent;

}

#title-div-container{
    position: fixed;
    top: 55%;
    left: 15%;
    margin-top: -100px;
    width: 70%;
    text-align: center;
}

.buttons-center{
    display: none;
}

@media screen and (max-aspect-ratio: 2/1) { 

    .buttons-center{
        display: block;
    }

    .titulo{
        color:white;
        background: transparent;
        font-size: 52px;
    } 

    .buttons-top{
        display: none;
    }

    #image-map-pro-container{
        display: none;
    }

    html{
        height:100%;
        width:100%;
    }
    
    body { 
        background: url(Images/background-image.jpg) no-repeat center fixed; 
        background-repeat: no-repeat; 
        background-position: center;
        background-attachment: fixed;       
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100%;
        width:100%; 
    }
}